{% extends 'pages/base.html' %}
{% block title %} {{title}} {% endblock %}
{% block header_title %} {{subtitle}} {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-4 ms-auto">
            <p class="lead">{{description}}</p>
        </div>
        <div class="col-lg-4 me-auto">
            <p class="lead">{{author}}</p>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Contact</h2>
        <p class="lead">For more information.</p>
        <ul class="list-unstyled">
            <li><strong>Email:</strong> camimars@gmail.com</li>
            <li><strong>Address:</strong> Calle 7 #80 - 103 </li>
            <li><strong>Phone:</strong> +57 3207718248</li>
        </ul>
    </div>
</div>
</div>
{% endblock %}